<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129238656583-ceo5963efjtt7kopp3t9rgaalp3couq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129238656583-ceo5963efjtt7kopp3t9rgaalp3couq4</string>
	<key>API_KEY</key>
	<string>AIzaSyAQx4kZdS1ZBxZZa5VkwoY5WsbVrS-avrk</string>
	<key>GCM_SENDER_ID</key>
	<string>129238656583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ndds.com.Cafe-Manager</string>
	<key>PROJECT_ID</key>
	<string>nibm-foodcafe-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-foodcafe-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129238656583:ios:c139316fe57a91aeed7362</string>
</dict>
</plist>